# Database generation

In [1]:
import sqlite3
import pandas as pd
import random
from datetime import datetime, timedelta

# Generate a random hire date between 2018 and mid-2024
def random_hire_date(start_year=2018, end_year=2024):
    start = datetime(start_year, 1, 1)
    end   = datetime(end_year, 6, 1)
    delta = (end - start).days
    return (start + timedelta(days=random.randint(0, delta))).date()

# Define basic employee information
employee_defs = [
    ("Wei Zhang", "Sales Manager", "Sales"),
    ("Tao Huang", "Marketing Specialist", "Marketing"),
    ("Na Li", "Product Developer", "Product Development"),
    ("John Smith", "Financial Analyst", "Finance"),
    ("Alice Chen", "IT Support", "IT"),
    ("Bob Li", "Sales Associate", "Sales"),
    ("Carol Wang", "Marketing Coordinator", "Marketing"),
    ("David Liu", "Product Engineer", "Product Development"),
    ("Eva Zhou", "Accountant", "Finance"),
    ("Frank Wu", "System Administrator", "IT"),
]

# Assemble employee list with details
employees = []
for i, (name, title, dept) in enumerate(employee_defs, start=1):
    employees.append({
        "employee_id": i,
        "name": name,
        "email": f"{name.split()[0].lower()}.{name.split()[1].lower()}@example.com",
        "hire_date": random_hire_date().isoformat(),
        "job_title": title,
        "department": dept
    })

# Define a pool of activity descriptions
activity_templates = [
    "Prepared the weekly report and met with clients.",
    "Developed a new marketing strategy and coordinated with team.",
    "Designed feature prototypes and reviewed technical specs.",
    "Analyzed quarterly financial data and presented insights.",
    "Resolved critical IT tickets and performed system maintenance.",
    "Closed major sales deals and negotiated contracts.",
    "Organized a product demo and gathered user feedback.",
    "Optimized marketing campaigns and tracked KPIs.",
    "Collaborated on cross-functional projects and documented processes.",
    "Conducted system audits and updated security protocols."
]

# Generate 10 weeks of data for each employee
data = []
start_of_period = datetime(2024, 7, 1)
for emp in employees:
    for week in range(1, 11):
        data.append({
            "employee_id": emp["employee_id"],
            "week_number": week,
            "num_meetings": random.randint(0, 10),
            "total_sales_rmb": round(random.uniform(1000, 50000), 2),
            "hours_worked": round(random.uniform(30, 60), 2),
            "activities": random.choice(activity_templates),
            "department": emp["department"],
            "hire_date": emp["hire_date"],
            "email": emp["email"],
            "job_title": emp["job_title"]
        })

# Convert to DataFrame and save to SQLite
df = pd.DataFrame(data)
conn = sqlite3.connect("employee_activity.db")
df.to_sql("employee_activity", conn, if_exists="replace", index=False)
conn.close()

# Read from SQLite and export to CSV
conn = sqlite3.connect("employee_activity.db")
df = pd.read_sql("SELECT * FROM employee_activity", conn)
df.to_csv("employee_activity.csv", index=False)
conn.close()

# Preview the first few rows
print(df.head())

   employee_id  week_number  num_meetings  total_sales_rmb  hours_worked  \
0            1            1             2         10344.08         46.37
1            1            2             0         13624.81         38.94
2            1            3             4         41819.71         47.34
3            1            4             4          2555.17         54.98
4            1            5             1         18174.49         31.06

                                          activities department   hire_date  \
0  Collaborated on cross-functional projects and ...      Sales  2020-05-01
1  Conducted system audits and updated security p...      Sales  2020-05-01
2    Optimized marketing campaigns and tracked KPIs.      Sales  2020-05-01
3  Closed major sales deals and negotiated contra...      Sales  2020-05-01
4  Closed major sales deals and negotiated contra...      Sales  2020-05-01

                   email      job_title
0  wei.zhang@example.com  Sales Manager
1  wei.zhang@example.com  Sales Manager
2  wei.zhang@example.com  Sales Manager
3  wei.zhang@example.com  Sales Manager
4  wei.zhang@example.com  Sales Manager

# Benchmark 1 : Run the 20 example queries

In [2]:
import os
import warnings
from langchain.chat_models import ChatOpenAI
from langchain_community.utilities import SQLDatabase
from langchain_community.agent_toolkits import SQLDatabaseToolkit
from langchain.agents import create_sql_agent
from dotenv import load_dotenv

warnings.filterwarnings("ignore")

# Custom prompt to ensure raw SQL output without markdown formatting
custom_prefix = """You are a highly intelligent data analyst with strong SQL knowledge.
You are connected to a SQL database and your task is to answer questions by generating accurate SQL queries.
Do not explain the query unless explicitly asked. Do not use markdown formatting like ```sql or ``` in your responses.
Return only the final answer as plain text if possible.

When generating SQL:
- Only output raw SQL syntax.
- Do not wrap your query in any backticks or markdown blocks.
- Ensure the SQL syntax is compatible with SQLite.

You will be given the schema of the table before you start.
Begin!"""

# 1) Initialize connection to the SQLite database
db_uri = "sqlite:///employee_activity.db"
db = SQLDatabase.from_uri(db_uri)

# 2) Initialize the LLM (e.g., GPT-4)
llm = ChatOpenAI(model="gpt-4", temperature=0)

# 3) Create the SQL Agent with the database and LLM
agent = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    prefix=custom_prefix
)

# 4) Define a list of 20 natural language queries to test
queries = [
    "What is the email address of the employee who is the Sales Manager?",
    "Which employee in the company works in the Product Development department?",
    "What was the sales revenue of 'Wei Zhang' for the week starting on '2024-08-28'?",
    "Who are the employees working in the 'Finance' department?",
    "Retrieve the total number of meetings attended by 'Na Li' in her weekly updates.",
    "Which employees worked more than 40 hours during week 1?",
    "How many employees does the company have in total?",
    "What is the average hours worked by all employees during week 2?",
    "How much total sales revenue has the Sales department generated to date?",
    "What is the total sales revenue generated by the company during week 1?",
    "Who worked the most hours during the first week of September 2024?",
    "Which employee attended the most meetings during week 2?",
    "Which employees in the company were hired during a time of industry recession?",
    "Who are the employees that faced challenges with customer retention, and what solutions did they propose?",
    "Which employees work in roles that likely require data analysis or reporting skills?",
    "List all employees who work in the IT department within the company.",
    "Compare the hours worked by 'Wei Zhang' and 'Tao Huang' during week 1.",
    "Who are the top 3 employees by total hours worked during the last 4 weeks?",
    "Who achieved the highest sales revenue in a single week, and when?",
    "What is the total number of hours worked and average sales revenue for employees in the Business Development department?"
]

# 5) Run and print the result of each query
for idx, q in enumerate(queries, start=1):
    print(f"\n--- Query {idx} ---")
    print("Q:", q)
    try:
        answer = agent.run(q)
    except Exception as e:
        answer = f"Error: {e}"
    print("A:", answer)

--- Query 1 ---
Q: What is the email address of the employee who is the Sales Manager?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe table name provided doesn't seem to contain the information I need. I need a table that contains employee details such as their role and email address. I should check the schema of the 'employee_activity' table to confirm.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The 'employee_activity' table does contain the information I need. I can see that there is a 'job_title' column and an 'email' column. I will write a SQL query to find the email address of the employee who is the Sales Manager.
Action: sql_db_query
Action Input: SELECT email FROM employee_activity WHERE job_title = 'Sales Manager' LIMIT 1[('wei.zhang@example.com',)]I now know the final answer
Final Answer: wei.zhang@example.com

> Finished chain.
A: wei.zhang@example.com

--- Query 2 ---
Q: Which employee in the company works in the Product Development department?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe table name suggests that it might contain information about employees and their activities. I should check the schema of this table to see if it contains the information I need.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The employee_activity table contains a department column which I can use to filter for employees in the Product Development department. I can then select the distinct employee_id, email, and job_title to identify the employees.
Action: sql_db_query
Action Input: SELECT DISTINCT employee_id, email, job_title FROM employee_activity WHERE department = 'Product Development'[(3, 'na.li@example.com', 'Product Developer'), (8, 'david.liu@example.com', 'Product Engineer')]I now know the final answer
Final Answer: The employees who work in the Product Development department are the Product Developer with employee_id 3 and email na.li@example.com, and the Product Engineer with employee_id 8 and email david.liu@example.com.

> Finished chain.
A: The employees who work in the Product Development department are the Product Developer with employee_id 3 and email na.li@example.com, and the Product Engineer with employee_id 8 and email david.liu@example.com.

--- Query 3 ---
Q: What was the sales revenue of 'Wei Zhang' for the week starting on '2024-08-28'?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe 'employee_activity' table seems to be the most relevant one. I should check its schema to understand the structure of the data.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The 'employee_activity' table contains the data I need. The 'total_sales_rmb' column represents the sales revenue, and the 'week_number' column probably represents the week of the year. However, I don't see a column that directly represents the date. I'll need to calculate the week number for '2024-08-28' and use that to filter the data. Also, I need to filter the data by 'Wei Zhang', but the name is not directly available. I can use the 'email' column for this, as it contains the name.
Action: sql_db_query
Action Input: SELECT total_sales_rmb FROM employee_activity WHERE email = 'wei.zhang@example.com' AND week_number = (SELECT strftime('%W', '2024-08-28') + 1)I now know the final answer.
Final Answer: 41819.71

> Finished chain.
A: 41819.71

--- Query 4 ---
Q: Who are the employees working in the 'Finance' department?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe table name 'employee_activity' suggests that it might contain information about employees and their activities. I should check the schema of this table to see if it contains the information I need.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The 'employee_activity' table contains a 'department' column which can be used to filter employees working in the 'Finance' department. I can also see that there is an 'email' column which can be used to identify the employees. I will write a SQL query to select the distinct emails of employees from the 'Finance' department.
Action: sql_db_query
Action Input: SELECT DISTINCT email FROM employee_activity WHERE department = 'Finance'[('john.smith@example.com',), ('eva.zhou@example.com',)]I now know the final answer
Final Answer: The employees working in the 'Finance' department are 'john.smith@example.com' and 'eva.zhou@example.com'.

> Finished chain.
A: The employees working in the 'Finance' department are 'john.smith@example.com' and 'eva.zhou@example.com'.

--- Query 5 ---
Q: Retrieve the total number of meetings attended by 'Na Li' in her weekly updates.


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe 'employee_activity' table seems to be the most relevant for this task. I should check its schema to understand the structure of the data.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The 'employee_activity' table contains the information I need. I can use the 'num_meetings' column to get the total number of meetings attended by 'Na Li'. However, I don't see a column for the employee's name. I'll have to use the 'email' column to identify 'Na Li'. I'll assume that her email is 'na.li@example.com'. Now I can write a SQL query to get the total number of meetings attended by 'Na Li'.
Action: sql_db_query
Action Input: SELECT SUM(num_meetings) FROM employee_activity WHERE email = 'na.li@example.com'[(33,)]I now know the final answer.
Final Answer: Na Li attended a total of 33 meetings in her weekly updates.

> Finished chain.
A: Na Li attended a total of 33 meetings in her weekly updates.

--- Query 6 ---
Q: Which employees worked more than 40 hours during week 1?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe employee_activity table seems to be the most relevant for this query. I should check its schema to understand its structure.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The employee_activity table has the information I need. I can use the employee_id, week_number, and hours_worked columns to find the employees who worked more than 40 hours during week 1.
Action: sql_db_query
Action Input: SELECT employee_id FROM employee_activity WHERE week_number = 1 AND hours_worked > 40[(1,), (2,), (3,), (4,), (6,), (7,), (8,), (9,)]I now know the final answer
Final Answer: The employees who worked more than 40 hours during week 1 are employees with IDs 1, 2, 3, 4, 6, 7, 8, and 9.

> Finished chain.
A: The employees who worked more than 40 hours during week 1 are employees with IDs 1, 2, 3, 4, 6, 7, 8, and 9.

--- Query 7 ---
Q: How many employees does the company have in total?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe table name suggests that it might contain information about employees. I should check the schema of this table to confirm.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The employee_activity table contains an employee_id field, which I can use to count the total number of employees. However, since this table seems to contain multiple entries for each employee (one for each week), I need to make sure to count distinct employee IDs to avoid double-counting.
Action: sql_db_query
Action Input: SELECT COUNT(DISTINCT employee_id) FROM employee_activity[(10,)]I now know the final answer
Final Answer: The company has 10 employees in total.

> Finished chain.
A: The company has 10 employees in total.

--- Query 8 ---
Q: What is the average hours worked by all employees during week 2?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe employee_activity table seems to be the most relevant for this question. I should check its schema to understand its structure.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The employee_activity table has a column named 'hours_worked' which seems to be the one I need for this query. I also need to filter the data by 'week_number' to get the data for week 2. I will write a SQL query to calculate the average hours worked by all employees during week 2.
Action: sql_db_query
Action Input: SELECT AVG(hours_worked) FROM employee_activity WHERE week_number = 2[(41.001,)]I now know the final answer
Final Answer: The average hours worked by all employees during week 2 is 41.001 hours.

> Finished chain.
A: The average hours worked by all employees during week 2 is 41.001 hours.

--- Query 9 ---
Q: How much total sales revenue has the Sales department generated to date?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe table name suggests that it might contain information about the sales made by employees. I should check the schema of this table to confirm.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The 'employee_activity' table contains a 'total_sales_rmb' column which seems to represent the sales made by an employee. It also contains a 'department' column. I can sum the 'total_sales_rmb' where 'department' is 'Sales' to get the total sales revenue generated by the Sales department.
Action: sql_db_query
Action Input: SELECT SUM(total_sales_rmb) FROM employee_activity WHERE department = 'Sales'[(431707.52,)]I now know the final answer
Final Answer: The Sales department has generated a total sales revenue of 431707.52 RMB to date.

> Finished chain.
A: The Sales department has generated a total sales revenue of 431707.52 RMB to date.

--- Query 10 ---
Q: What is the total sales revenue generated by the company during week 1?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe table "employee_activity" might contain the information I need. I should check its schema to understand its structure.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The table "employee_activity" contains a column "total_sales_rmb" which seems to represent the sales revenue. I also see a column "week_number" which can be used to filter the data for week 1. I will write a SQL query to sum the "total_sales_rmb" for week 1.
Action: sql_db_query
Action Input: SELECT SUM(total_sales_rmb) FROM employee_activity WHERE week_number = 1[(208680.99000000002,)]I now know the final answer
Final Answer: The total sales revenue generated by the company during week 1 is 208680.99 RMB.

> Finished chain.
A: The total sales revenue generated by the company during week 1 is 208680.99 RMB.

--- Query 11 ---
Q: Who worked the most hours during the first week of September 2024?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe employee_activity table seems to be the most relevant for this question. I should check its schema to understand its structure.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The employee_activity table has a column for hours_worked and week_number which are relevant to the question. I need to find the first week of September 2024. In most calendar systems, this would be week 36. I will write a query to find the employee who worked the most hours during this week.
Action: sql_db_query

### Testing llm accuracy by manually writing sql

### query 5

In [4]:
# Connect to the database
conn = sqlite3.connect("employee_activity.db")
cursor = conn.cursor()

# Query: Calculate the total number of meetings attended by Na Li
query = '''
SELECT SUM(num_meetings) AS total_meetings
FROM employee_activity
WHERE email = 'na.li@example.com';
'''

cursor.execute(query)
result = cursor.fetchone()
conn.close()

# Print the result
print("\n Total Meetings Attended by Na Li:")
print(f"Total Meetings: {result[0]}")

 Total Meetings Attended by Na Li:
Total Meetings: 33

### query 6

In [6]:
import sqlite3

conn = sqlite3.connect("employee_activity.db")
cursor = conn.cursor()

query = '''
SELECT employee_id, hours_worked, email
FROM employee_activity
WHERE week_number = 1 AND hours_worked > 40
ORDER BY hours_worked DESC;
'''

cursor.execute(query)
results = cursor.fetchall()
conn.close()

print(" Employees who worked more than 40 hours in Week 1:")
for row in results:
    print(f"Employee ID: {row[0]}, Hours: {row[1]:.2f}, Email: {row[2]}")

 Employees who worked more than 40 hours in Week 1:
Employee ID: 3, Hours: 57.88, Email: na.li@example.com
Employee ID: 7, Hours: 51.70, Email: carol.wang@example.com
Employee ID: 4, Hours: 47.85, Email: john.smith@example.com
Employee ID: 2, Hours: 47.41, Email: tao.huang@example.com
Employee ID: 9, Hours: 47.40, Email: eva.zhou@example.com
Employee ID: 6, Hours: 47.23, Email: bob.li@example.com
Employee ID: 8, Hours: 46.49, Email: david.liu@example.com
Employee ID: 1, Hours: 46.37, Email: wei.zhang@example.com

# Benchmark 2 : improve llm performance

## Improve QUERY 13 using external knowledge

In [9]:
pip install google-search-results

Requirement already satisfied: google-search-results in /Users/everly/anaconda3/lib/python3.11/site-packages (2.4.2)
Requirement already satisfied: requests in /Users/everly/anaconda3/lib/python3.11/site-packages (from google-search-results) (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/everly/anaconda3/lib/python3.11/site-packages (from requests->google-search-results) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/everly/anaconda3/lib/python3.11/site-packages (from requests->google-search-results) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/everly/anaconda3/lib/python3.11/site-packages (from requests->google-search-results) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/everly/anaconda3/lib/python3.11/site-packages (from requests->google-search-results) (2024.7.4)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from langchain.agents import Tool, initialize_agent
from langchain_community.utilities.serpapi import SerpAPIWrapper 

# set API Key
os.environ["OPENAI_API_KEY"] = "sk"
os.environ["SERPAPI_API_KEY"] = "xxx"

# Custom prompt to ensure raw SQL output without markdown formatting
custom_prefix = """You are a highly intelligent data analyst with strong SQL knowledge.
You are connected to a SQL database and your task is to answer questions by generating accurate SQL queries.
Do not explain the query unless explicitly asked. Do not use markdown formatting like ```sql or ``` in your responses.
Return only the final answer as plain text if possible.

When generating SQL:
- Only output raw SQL syntax.
- Do not wrap your query in any backticks or markdown blocks.
- Ensure the SQL syntax is compatible with SQLite.

You will be given the schema of the table before you start.
Begin!"""

# initialize tools and agents
search = SerpAPIWrapper()
llm    = ChatOpenAI(model="gpt-4", temperature=0)

db     = SQLDatabase.from_uri("sqlite:///employee_activity.db")
sql_agent = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    prefix=custom_prefix
)

tools = [
    Tool(
        name="Recession Search",
        func=search.run,
        description="Find historical recession dates via SerpAPI."
    ),
    Tool(
        name="Employee Database Agent",
        func=sql_agent.run,
        description="Query the employee_activity database."
    )
]

# Initialize LangChain Multi-Tool Agent
agent = initialize_agent(
    tools=tools,
    llm=llm,
    agent="zero-shot-react-description",
    verbose=True
)

# Run Query: Combine external recession info + internal hiring data
print(agent.run("Which employees were hired during the most recent recession?"))

> Entering new AgentExecutor chain...
First, I need to find out when the most recent recession was.
Action: Recession Search
Action Input: {"query": "most recent recession"}
Observation: ['Search query. Search the web. Skip to main. News ... Since 1929, there have been 14 recessionary periods in the U.S. The most recent recession ...', 'Search query. Tip: Try a valid symbol or a specific company name ... The most recent recession was in the spring of 2020 when the COVID ...', 'While the user query explicitly asks for forecasting tricks, the ... Since the end of the most recent recession in April 2020, Real ...', 'Although most of the economies around the globe are seemingly doing quite well since the most recent recession of 2018, there is always more ...', 'Search query.. Main navigation. ABOUT. Who We Are  State Policy ... The most recent recession was more severe  deeper and longer  than ...', 'The most recent recession was preceded ... The primary new data source discussed is. Internet query data, specifically the data that can be obtained from Google ...', 'In Taiwan, several indices reached record lows during the most recent recession. ... Each line indicates a specific query trend, with the red line ...', 'Search Query Submit Search. Business. Should I worry about a recession? What ... In the most recent recession, the federal government and ...', '... most recent recession ended in June 2009 does not yet appear to have ... Query Reporting System. (WISQARS) and from data sources housed in the National ...', '... most recent recession was caused by the ... Audit and Tax Associate | Ms Excel | Power Query | Power BI ... Audit and Tax Associate | Ms Excel | Power Query | Power ...']
Thought:The most recent recession was in the spring of 2020. Now I need to find out which employees were hired during this time.
Action: Employee Database Agent
Action Input: {"query": {"hired_date": {"$gte": "2020-01-01", "$lte": "2020-12-31"}}}

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""employee_activityThe table "employee_activity" seems to be the most relevant one. I should check its schema to see if it contains the "hired_date" field.
Action: sql_db_schema
Action Input: "employee_activity"
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	2	10344.08	46.37	Collaborated on cross-functional projects and documented processes.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	2	0	13624.81	38.94	Conducted system audits and updated security protocols.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
1	3	4	41819.71	47.34	Optimized marketing campaigns and tracked KPIs.	Sales	2020-05-01	wei.zhang@example.com	Sales Manager
*/The "employee_activity" table does contain the "hire_date" field. I can now write a SQL query to find all employees who were hired between 2020-01-01 and 2020-12-31.
Action: sql_db_query
Action Input: "SELECT * FROM employee_activity WHERE hire_date BETWEEN '2020-01-01' AND '2020-12-31'"[(1, 1, 2, 10344.08, 46.37, 'Collaborated on cross-functional projects and documented processes.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 2, 0, 13624.81, 38.94, 'Conducted system audits and updated security protocols.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 3, 4, 41819.71, 47.34, 'Optimized marketing campaigns and tracked KPIs.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 4, 4, 2555.17, 54.98, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 5, 1, 18174.49, 31.06, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 6, 9, 27429.88, 44.13, 'Resolved critical IT tickets and performed system maintenance.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 7, 5, 29557.28, 31.22, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 8, 10, 31758.4, 45.21, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 9, 2, 21961.9, 31.17, 'Conducted system audits and updated security protocols.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 10, 4, 1414.48, 47.24, 'Collaborated on cross-functional projects and documented processes.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (7, 1, 5, 26814.67, 51.7, 'Prepared the weekly report and met with clients.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 2, 6, 17082.08, 32.73, 'Resolved critical IT tickets and performed system maintenance.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 3, 4, 8980.91, 56.62, 'Analyzed quarterly financial data and presented insights.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 4, 7, 23618.68, 53.48, 'Collaborated on cross-functional projects and documented processes.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 5, 4, 23959.85, 30.6, 'Analyzed quarterly financial data and presented insights.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 6, 8, 12554.47, 31.88, 'Designed feature prototypes and reviewed technical specs.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 7, 4, 43947.54, 44.22, 'Organized a product demo and gathered user feedback.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 8, 10, 41635.7, 57.78, 'Organized a product demo and gathered user feedback.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 9, 7, 24200.28, 51.09, 'Developed a new marketing strategy and coordinated with team.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 10, 5, 22937.95, 58.04, 'Resolved critical IT tickets and performed system maintenance.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (9, 1, 8, 5169.99, 47.4, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 2, 3, 17025.92, 43.68, 'Conducted system audits and updated security protocols.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 3, 8, 45434.47, 56.02, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 4, 6, 11458.09, 33.6, 'Organized a product demo and gathered user feedback.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 5, 3, 13792.25, 39.3, 'Designed feature prototypes and reviewed technical specs.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 6, 7, 26565.83, 42.47, 'Resolved critical IT tickets and performed system maintenance.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 7, 10, 16943.46, 43.32, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 8, 7, 11645.01, 40.68, 'Conducted system audits and updated security protocols.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 9, 0, 33338.64, 53.4, 'Organized a product demo and gathered user feedback.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 10, 9, 17401.99, 32.16, 'Designed feature prototypes and reviewed technical specs.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant')]I now know the final answer
Final Answer: [(1, 1, 2, 10344.08, 46.37, 'Collaborated on cross-functional projects and documented processes.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 2, 0, 13624.81, 38.94, 'Conducted system audits and updated security protocols.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 3, 4, 41819.71, 47.34, 'Optimized marketing campaigns and tracked KPIs.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 4, 4, 2555.17, 54.98, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 5, 1, 18174.49, 31.06, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 6, 9, 27429.88, 44.13, 'Resolved critical IT tickets and performed system maintenance.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 7, 5, 29557.28, 31.22, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 8, 10, 31758.4, 45.21, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 9, 2, 21961.9, 31.17, 'Conducted system audits and updated security protocols.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 10, 4, 1414.48, 47.24, 'Collaborated on cross-functional projects and documented processes.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (7, 1, 5, 26814.67, 51.7, 'Prepared the weekly report and met with clients.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 2, 6, 17082.08, 32.73, 'Resolved critical IT tickets and performed system maintenance.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 3, 4, 8980.91, 56.62, 'Analyzed quarterly financial data and presented insights.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 4, 7, 23618.68, 53.48, 'Collaborated on cross-functional projects and documented processes.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 5, 4, 23959.85, 30.6, 'Analyzed quarterly financial data and presented insights.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 6, 8, 12554.47, 31.88, 'Designed feature prototypes and reviewed technical specs.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 7, 4, 43947.54, 44.22, 'Organized a product demo and gathered user feedback.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 8, 10, 41635.7, 57.78, 'Organized a product demo and gathered user feedback.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 9, 7, 24200.28, 51.09, 'Developed a new marketing strategy and coordinated with team.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 10, 5, 22937.95, 58.04, 'Resolved critical IT tickets and performed system maintenance.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (9, 1, 8, 5169.99, 47.4, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 2, 3, 17025.92, 43.68, 'Conducted system audits and updated security protocols.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 3, 8, 45434.47, 56.02, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 4, 6, 11458.09, 33.6, 'Organized a product demo and gathered user feedback.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 5, 3, 13792.25, 39.3, 'Designed feature prototypes and reviewed technical specs.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 6, 7, 26565.83, 42.47, 'Resolved critical IT tickets and performed system maintenance.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 7, 10, 16943.46, 43.32, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 8, 7, 11645.01, 40.68, 'Conducted system audits and updated security protocols.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 9, 0, 33338.64, 53.4, 'Organized a product demo and gathered user feedback.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 10, 9, 17401.99, 32.16, 'Designed feature prototypes and reviewed technical specs.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant')]

> Finished chain.

Observation: [(1, 1, 2, 10344.08, 46.37, 'Collaborated on cross-functional projects and documented processes.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 2, 0, 13624.81, 38.94, 'Conducted system audits and updated security protocols.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 3, 4, 41819.71, 47.34, 'Optimized marketing campaigns and tracked KPIs.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 4, 4, 2555.17, 54.98, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 5, 1, 18174.49, 31.06, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 6, 9, 27429.88, 44.13, 'Resolved critical IT tickets and performed system maintenance.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 7, 5, 29557.28, 31.22, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 8, 10, 31758.4, 45.21, 'Closed major sales deals and negotiated contracts.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 9, 2, 21961.9, 31.17, 'Conducted system audits and updated security protocols.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (1, 10, 4, 1414.48, 47.24, 'Collaborated on cross-functional projects and documented processes.', 'Sales', '2020-05-01', 'wei.zhang@example.com', 'Sales Manager'), (7, 1, 5, 26814.67, 51.7, 'Prepared the weekly report and met with clients.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 2, 6, 17082.08, 32.73, 'Resolved critical IT tickets and performed system maintenance.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 3, 4, 8980.91, 56.62, 'Analyzed quarterly financial data and presented insights.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 4, 7, 23618.68, 53.48, 'Collaborated on cross-functional projects and documented processes.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 5, 4, 23959.85, 30.6, 'Analyzed quarterly financial data and presented insights.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 6, 8, 12554.47, 31.88, 'Designed feature prototypes and reviewed technical specs.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 7, 4, 43947.54, 44.22, 'Organized a product demo and gathered user feedback.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 8, 10, 41635.7, 57.78, 'Organized a product demo and gathered user feedback.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 9, 7, 24200.28, 51.09, 'Developed a new marketing strategy and coordinated with team.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (7, 10, 5, 22937.95, 58.04, 'Resolved critical IT tickets and performed system maintenance.', 'Marketing', '2020-03-07', 'carol.wang@example.com', 'Marketing Coordinator'), (9, 1, 8, 5169.99, 47.4, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 2, 3, 17025.92, 43.68, 'Conducted system audits and updated security protocols.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 3, 8, 45434.47, 56.02, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 4, 6, 11458.09, 33.6, 'Organized a product demo and gathered user feedback.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 5, 3, 13792.25, 39.3, 'Designed feature prototypes and reviewed technical specs.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 6, 7, 26565.83, 42.47, 'Resolved critical IT tickets and performed system maintenance.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 7, 10, 16943.46, 43.32, 'Developed a new marketing strategy and coordinated with team.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 8, 7, 11645.01, 40.68, 'Conducted system audits and updated security protocols.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 9, 0, 33338.64, 53.4, 'Organized a product demo and gathered user feedback.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant'), (9, 10, 9, 17401.99, 32.16, 'Designed feature prototypes and reviewed technical specs.', 'Finance', '2020-10-22', 'eva.zhou@example.com', 'Accountant')]
Thought:I now know the final answer
Final Answer: The employees hired during the most recent recession in 2020 were Wei Zhang (Sales Manager), Carol Wang (Marketing Coordinator), and Eva Zhou (Accountant).

> Finished chain.
The employees hired during the most recent recession in 2020 were Wei Zhang (Sales Manager), Carol Wang (Marketing Coordinator), and Eva Zhou (Accountant).

## Improve QUERY 14 by updating db and prompt

In [12]:
import sqlite3
import pandas as pd
import random
from datetime import datetime, timedelta

# Generate a random hire date between 2018 and mid-2024
def random_hire_date(start_year=2018, end_year=2024):
    start = datetime(start_year, 1, 1)
    end   = datetime(end_year, 6, 1)
    delta = (end - start).days
    return (start + timedelta(days=random.randint(0, delta))).date()

# Define basic employee information
employee_defs = [
    ("Wei Zhang", "Sales Manager", "Sales"),
    ("Tao Huang", "Marketing Specialist", "Marketing"),
    ("Na Li", "Product Developer", "Product Development"),
    ("John Smith", "Financial Analyst", "Finance"),
    ("Alice Chen", "IT Support", "IT"),
    ("Bob Li", "Sales Associate", "Sales"),
    ("Carol Wang", "Marketing Coordinator", "Marketing"),
    ("David Liu", "Product Engineer", "Product Development"),
    ("Eva Zhou", "Accountant", "Finance"),
    ("Frank Wu", "System Administrator", "IT"),
]

# Assemble employee list with details
employees = []
for i, (name, title, dept) in enumerate(employee_defs, start=1):
    employees.append({
        "employee_id": i,
        "name": name,
        "email": f"{name.split()[0].lower()}.{name.split()[1].lower()}@example.com",
        "hire_date": random_hire_date().isoformat(),
        "job_title": title,
        "department": dept
    })

activity_templates = [
    # General business activities
    "Prepared the weekly report and met with clients.",
    "Developed a new marketing strategy and coordinated with team.",
    "Designed feature prototypes and reviewed technical specs.",
    "Analyzed quarterly financial data and presented insights.",
    "Resolved critical IT tickets and performed system maintenance.",
    "Closed major sales deals and negotiated contracts.",
    "Organized a product demo and gathered user feedback.",
    "Optimized marketing campaigns and tracked KPIs.",
    "Collaborated on cross-functional projects and documented processes.",
    "Conducted system audits and updated security protocols.",
    "Faced challenges with customer retention; launched loyalty program to improve retention."
]

# Generate 10 weeks of data for each employee
data = []
start_of_period = datetime(2024, 7, 1)
for emp in employees:
    for week in range(1, 11):
        data.append({
            "employee_id": emp["employee_id"],
            "week_number": week,
            "num_meetings": random.randint(0, 10),
            "total_sales_rmb": round(random.uniform(1000, 50000), 2),
            "hours_worked": round(random.uniform(30, 60), 2),
            "activities": random.choice(activity_templates),
            "department": emp["department"],
            "hire_date": emp["hire_date"],
            "email": emp["email"],
            "job_title": emp["job_title"]
        })

# Convert to DataFrame and save to SQLite
df = pd.DataFrame(data)
conn = sqlite3.connect("employee_activity.db")
df.to_sql("employee_activity", conn, if_exists="replace", index=False)
conn.close()

# Read from SQLite and export to CSV
conn = sqlite3.connect("employee_activity.db")
df = pd.read_sql("SELECT * FROM employee_activity", conn)
df.to_csv("employee_activity.csv", index=False)
conn.close()

# Preview the first few rows
print(df.head())

   employee_id  week_number  num_meetings  total_sales_rmb  hours_worked  \
0            1            1             6         27983.18         30.57
1            1            2             7         18662.31         50.92
2            1            3             1          3347.44         53.31
3            1            4             8         12112.57         45.99
4            1            5             9         42508.38         35.81

                                          activities department   hire_date  \
0  Resolved critical IT tickets and performed sys...      Sales  2022-11-30
1    Optimized marketing campaigns and tracked KPIs.      Sales  2022-11-30
2   Prepared the weekly report and met with clients.      Sales  2022-11-30
3  Resolved critical IT tickets and performed sys...      Sales  2022-11-30
4    Optimized marketing campaigns and tracked KPIs.      Sales  2022-11-30

                   email      job_title
0  wei.zhang@example.com  Sales Manager
1  wei.zhang@example.com  Sales Manager
2  wei.zhang@example.com  Sales Manager
3  wei.zhang@example.com  Sales Manager
4  wei.zhang@example.com  Sales Manager

In [14]:
warnings.filterwarnings("ignore")

custom_prefix = """You are a highly intelligent data analyst with strong SQL knowledge.
You are connected to a SQL database and your task is to answer questions by generating accurate SQL queries.
Do not explain the query unless explicitly asked. Do not use markdown formatting like ```sql or ``` in your responses.
Return only the final answer as plain text if possible.

When generating SQL:
- Only output raw SQL syntax.
- Do not wrap your query in any backticks or markdown blocks.
- Ensure the SQL syntax is compatible with SQLite.

You will be given the schema of the table before you start.
Begin!"""


# 1) Initialize connection to the SQLite database
db_uri = "sqlite:///employee_activity.db"
db = SQLDatabase.from_uri(db_uri)

# 2) Initialize the LLM (e.g., GPT-4)
llm = ChatOpenAI(model="gpt-4", temperature=0)

# 3) Create the SQL Agent with the database and LLM
agent = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    prefix=custom_prefix
)

# 4) Define a list of 20 natural language queries to test
queries = [
    "Who are the employees that faced challenges with customer retention, and what solutions did they propose?"
]

# 5) Run and print the result of each query
for idx, q in enumerate(queries, start=1):
    print(f"\n--- Query {idx} ---")
    print("Q:", q)
    try:
        answer = agent.run(q)
    except Exception as e:
        answer = f"Error: {e}"
    print("A:", answer)

--- Query 1 ---
Q: Who are the employees that faced challenges with customer retention, and what solutions did they propose?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: employee_activityThe 'employee_activity' table seems to be the most relevant one for this query. I should check its schema to understand the structure of the data.
Action: sql_db_schema
Action Input: employee_activity
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	6	27983.18	30.57	Resolved critical IT tickets and performed system maintenance.	Sales	2022-11-30	wei.zhang@example.com	Sales Manager
1	2	7	18662.31	50.92	Optimized marketing campaigns and tracked KPIs.	Sales	2022-11-30	wei.zhang@example.com	Sales Manager
1	3	1	3347.44	53.31	Prepared the weekly report and met with clients.	Sales	2022-11-30	wei.zhang@example.com	Sales Manager
*/The 'employee_activity' table contains the 'activities' column which might contain information about the challenges faced by employees and the solutions they proposed. I should query this table to find the relevant information.
Action: sql_db_query
Action Input: SELECT employee_id, activities FROM employee_activity WHERE activities LIKE '%customer retention%' OR activities LIKE '%solution%' [(2, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (3, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (3, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (3, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (4, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (4, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (5, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (8, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (8, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (9, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (9, 'Faced challenges with customer retention; launched loyalty program to improve retention.')]I now know the final answer.
Final Answer: The employees who faced challenges with customer retention and the solutions they proposed are as follows:
- Employee 2: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 3: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 4: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 5: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 8: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 9: Faced challenges with customer retention; launched loyalty program to improve retention.

> Finished chain.
A: The employees who faced challenges with customer retention and the solutions they proposed are as follows:
- Employee 2: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 3: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 4: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 5: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 8: Faced challenges with customer retention; launched loyalty program to improve retention.
- Employee 9: Faced challenges with customer retention; launched loyalty program to improve retention.

In [13]:
warnings.filterwarnings("ignore")

# Custom prompt to ensure raw SQL output without markdown formatting
custom_prefix = """You are a highly intelligent data analyst with strong SQL knowledge.
You are connected to a SQL database and your task is to answer questions by generating accurate SQL queries.
When a question has multiple parts (e.g., asking both "who" and "what"), provide a clear and structured answer with headings like:
- "Employees involved"
- "Solutions proposed"

Do not explain the SQL query unless explicitly asked.
Do not use markdown formatting like ```sql or ``` in your responses.
When listing employees, always use SELECT DISTINCT so that each employee appears only once.
Return only the final answer as plain text if possible.

Ensure the SQL syntax is compatible with SQLite.

Begin!
"""


# 1) Initialize connection to the SQLite database
db_uri = "sqlite:///employee_activity.db"
db = SQLDatabase.from_uri(db_uri)

# 2) Initialize the LLM (e.g., GPT-4)
llm = ChatOpenAI(model="gpt-4", temperature=0)

# 3) Create the SQL Agent with the database and LLM
agent = create_sql_agent(
    llm=llm,
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    prefix=custom_prefix
)

queries = [
    "Who are the employees that faced challenges with customer retention, and what solutions did they propose?"
]

# 5) Run and print the result of each query
for idx, q in enumerate(queries, start=1):
    print(f"\n--- Query {idx} ---")
    print("Q:", q)
    try:
        answer = agent.run(q)
    except Exception as e:
        answer = f"Error: {e}"
    print("A:", answer)

--- Query 1 ---
Q: Who are the employees that faced challenges with customer retention, and what solutions did they propose?


> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""employee_activityThe 'employee_activity' table seems relevant to the question. I should check its schema to understand its structure and the data it contains.
Action: sql_db_schema
Action Input: "employee_activity"
CREATE TABLE employee_activity (
	employee_id INTEGER,
	week_number INTEGER,
	num_meetings INTEGER,
	total_sales_rmb REAL,
	hours_worked REAL,
	activities TEXT,
	department TEXT,
	hire_date TEXT,
	email TEXT,
	job_title TEXT
)

/*
3 rows from employee_activity table:
employee_id	week_number	num_meetings	total_sales_rmb	hours_worked	activities	department	hire_date	email	job_title
1	1	6	27983.18	30.57	Resolved critical IT tickets and performed system maintenance.	Sales	2022-11-30	wei.zhang@example.com	Sales Manager
1	2	7	18662.31	50.92	Optimized marketing campaigns and tracked KPIs.	Sales	2022-11-30	wei.zhang@example.com	Sales Manager
1	3	1	3347.44	53.31	Prepared the weekly report and met with clients.	Sales	2022-11-30	wei.zhang@example.com	Sales Manager
*/The 'employee_activity' table contains the 'activities' field which likely contains the information about the challenges faced by employees and the solutions they proposed. I should query this table to find the employees who faced challenges with customer retention and the solutions they proposed.
Action: sql_db_query
Action Input:
"SELECT DISTINCT employee_id, activities FROM employee_activity WHERE activities LIKE '%customer retention%'"[(2, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (3, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (4, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (5, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (8, 'Faced challenges with customer retention; launched loyalty program to improve retention.'), (9, 'Faced challenges with customer retention; launched loyalty program to improve retention.')]I now know the final answer.
Final Answer:
- Employees involved: 2, 3, 4, 5, 8, 9
- Solutions proposed: Launched loyalty program to improve retention.

> Finished chain.
A: - Employees involved: 2, 3, 4, 5, 8, 9
- Solutions proposed: Launched loyalty program to improve retention.